
    <main>
      <div class="intro">
        <img
          id="circle"
          srcset="
            /videos/round-el-story.png?w=1160&amp;e=webp&amp;nll=true 2x,
            /videos/round-el-story.png?w=1740&amp;e=webp&amp;nll=true 3x
          "
          src="/videos/round-el-story.png?w=1160&amp;e=webp&amp;nll=true"
        />
        <video autoplay muted loop id="introVideo">
          <source src="/videos/the-rose-background-vid.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="typewriter">
        <div class="typing">The Rose.</div>
        <div id="yellow"></div>
      </div>
      <div class="cards-wrapper row d-flex justify-content-center">
      <a href="">
        <div class="card" style="width: 18rem">
          <img src="/images/The-rose_Void.jpg" alt="album Void" />
          <h5 class="card-title text-center">VOID</h5>
        </div>
      </a>
      <a href="">
        <div class="card" style="width: 18rem">
          <img src="/images/The-rose_Dawn.jpg" alt="album Dwan" />
          <h5 class="card-title text-center">DAWN</h5>
        </div>
      </a>
      <a href="">
        <div class="card" style="width: 18rem">
          <img src="/images/The-rose_Red.jpg" alt="album Red" />
          <h5 class="card-title text-center">RED</h5>
        </div>
      </a>
      <a href="">
        <div class="card" style="width: 18rem">
          <img src="/images/The-rose_Heal.jpg" alt="album Heal" />
          <h5 class="card-title text-center">HEAL</h5>
        </div>
      </a>
    </div>
    </main>